html{
    
    height: 100%;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
}
#container{
  height: 100%;
  margin: 0;
}
#navbar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
  width:20%;
	overflow: auto;
 
}

h2{
  text-align: center;
}
#main-doc{

	display: inline-block;
	vertical-align: top;
	height: 100%;
  width: 78%;
	overflow: auto;
  margin-left: 21%;
  padding: 20px;
}

nav{
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  float: left;
  position: fixed;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
   
  a {
    display: block;
    padding: 1em;
    background-color: LightGray;
    text-align: left;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: #000000;
   
  }
  
  a:hover {
    background-color: LightCoral;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }